<%- include ('../../partials/header.ejs');%>

<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            Login de admin
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" name="password" type="password" placeholder="*******"><br>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>

        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs');%>